.login-box form button {
    display: inline-block;
    background: #03A9F4;
    padding: 10px 30px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    border: none;
    outline: none;
}

.register-box {
    text-align: center;
    font-size: 14px;
}

.register-box span {
    margin-right: 5px;
}

.register-box a {
    color: #03A9F4;
    text-decoration: none;
    font-weight: bold;
}

.register-box a:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    padding: 0;
    background: #03A9F4;
    font-family: sans-serif;
    color: #fff;
}

.login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    font-size: 22px;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    color: #fff;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    color: #fff;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03A9F4;
    font-size: 12px;
}

.login-box .button {
    display: inline-block;
    background: #03A9F4;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.login-box .button:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}

.login-box .button:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

